@page
@model Pages.BillDetails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BillDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BillDetail.BillId" type="hidden"/>
            <input asp-for="BillDetail.ProductId" type="hidden"/>
            <div class="form-group">
                <label asp-for="BillDetail.BillId" class="control-label"></label>
                <input asp-for="BillDetail.BillId" disabled class="form-control" />
            </div><div class="form-group">
                <label asp-for="BillDetail.Product" class="control-label"></label>
                <input asp-for="BillDetail.ProductId" disabled class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BillDetail.Quantity" class="control-label"></label>
                <input asp-for="BillDetail.Quantity" class="form-control" />
                <span asp-validation-for="BillDetail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Bills/Details" asp-route-id="@Model.BillDetail.BillId">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
