@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

:root {
    --primary-1: #56382E;
    --primary-3: #71503A;
    --primary-2: #ffffff;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Barlow', 'Roboto';
    position: relative;
    overflow: hidden;
}

ion-icon {
    font-size: 24px;
}