@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

:root {
    --primary-1: #CE8054;
    --primary-3: #71503A;
    --primary-2: #ffffff;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Barlow', 'Roboto';
    position: relative;
    overflow: hidden;
}

ion-icon {
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track:not(.navbar-container) {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #71503A;
    border-radius: 10px;
}
