.navbar::-webkit-scrollbar-thumb, .navbar-container::-webkit-scrollbar-thumb, .header::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.navbar::-webkit-scrollbar-track, .header::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 0px #fff;
}

 {
    display: none
}

.navbar-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 111px;
    background-color: #71503A;
    transition: all .5s;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

    .navbar-container.active {
        width: 228px;
    }

.navbar {
    height: 100%;
    font-weight: 600;
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    position: relative;
    padding-left: 12px;
    overflow-y: scroll;
}

    .navbar li {
        list-style: none;
        width: 100%;
        padding: 12px 12px 12px 12px;
        border-radius: 12px 0px 0px 12px;
        position: relative;
    }

        .navbar li:last-child {
            position: sticky;
            bottom: 0;
            background-color: #71503A;
            z-index: 100;
            border-radius: 0px;
        }

        .navbar li.active {
            background-color: #fff;
        }

            .navbar li.active:before {
                content: "";
                position: absolute;
                height: 20px;
                width: 100%;
                background-color: #fff;
                top: -20px;
                left: 0px;
            }

            .navbar li.active:after {
                content: "";
                position: absolute;
                height: 20px;
                width: 100%;
                background-color: #fff;
                bottom: -20px;
                left: 0px;
            }

            .navbar li.active b.top {
                position: absolute;
                height: 20px;
                width: 100%;
                background-color: #71503A;
                top: -20px;
                z-index: 1;
                border-bottom-right-radius: 12px;
                left: 0px;
            }

            .navbar li.active b.bottom {
                position: absolute;
                height: 20px;
                width: 100%;
                background-color: #71503A;
                bottom: -20px;
                z-index: 1;
                border-top-right-radius: 12px;
                left: 0px;
            }

        .navbar li a {
            text-decoration: none;
            color: #fff;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            border-radius: 8px;
            overflow: hidden;
        }

.header {
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    padding-bottom: 12px;
}

.header-group {
    margin: 24px 12px 0px 24px;
    height: 70px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    gap: 23px;
    background: #EB966A;
    box-shadow: #9b674d 0px 5px 15px;
    align-items: center;
    font-weight: bold;
    margin-bottom: 24px;
}

    .header-group ion-icon {
        min-width: 70px;
    }

    .header-group span {
        flex-grow: 2;
        white-space: nowrap;
    }

.navbar li.active a {
    background-color: #CE8054;
    box-shadow: #f0a57a 0px 4px 12px 0px;
}

.navbar li a .icon {
    display: block;
    min-width: 70px;
    height: 70px;
    line-height: 85px;
    text-align: center;
}

    .navbar li a .icon ion-icon {
        font-size: 24px;
    }

.navbar li a .title {
    position: relative;
    display: block;
    height: 60px;
    line-height: 75px;
    white-space: normal;
}

.main-container {
    width: calc(100% - 118px);
    margin-left: 118px;
    min-height: 100vh;
    height: 100vh;
    transition: all .5s;
}

    .main-container.active {
        width: calc(100% - 220px);
        margin-left: 220px;
    }

.main .navbar-toggle {
    background-color: #CE8054;
    border-radius: 8px;
    display: inline-flex;
    color: white;
    cursor: pointer;
    min-width: 50px;
    height: 50px;
    line-height: 77px;
    justify-content: center;
    align-items: center;
}

    .main .navbar-toggle ion-icon {
        font-size: 34px;
        position: absolute;
        transition: all .5s;
    }

.navbar-toggle ion-icon.close {
    display: none;
}

.navbar-toggle.active ion-icon.open {
    display: none;
}

.navbar-toggle.active ion-icon.close {
    display: block;
}
