.navbar-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 118px;
    background-color: #71503A;
    transition: all .5s;
    overflow: hidden;
}

.navbar-container.active {
    width: 220px;
}

.navbar {
    height: 100%;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px 0px 0px 12px;
}

.navbar li {
    list-style: none;
    width: 100%;
    padding: 12px 24px 12px 12px;
    border-radius: 12px 0px 0px 12px;
}

.navbar li:last-child {
    flex-grow: 2;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.navbar li:last-child a {
    bottom: 0;
}

.navbar li.active {
    background-color: #fff;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.navbar li.header a {
    background: #EB966A;
    margin-bottom: 14px;
    box-shadow: #9b674d 0px 5px 15px;
}

.navbar li.active a {
    background-color: #CE8054;
    box-shadow: #f0a57a 0px 4px 12px 0px;
}

.navbar li a .icon {
    display: block;
    min-width: 70px;
    height: 70px;
    line-height: 85px;
    text-align: center;
}

.navbar li a .icon ion-icon {
    font-size: 24px;
}

.navbar li a .title {
    position: relative;
    display: block;
    height: 60px;
    line-height: 75px;
    white-space: normal;
}

.main-container {
    width: calc(100% - 118px);
    margin-left: 118px;
    min-height: 100vh;
    height: 100vh;
    transition: all .5s;
}

.main-container.active {
    width: calc(100% - 220px);
    margin-left: 220px;
}

.main .navbar-toggle {
    background-color: #CE8054;
    border-radius: 8px;
    display: inline-flex;
    color: white;
    cursor: pointer;
    min-width: 50px;
    height: 50px;
    line-height: 77px;
    justify-content: center;
    align-items: center;
}

.main .navbar-toggle ion-icon {
    font-size: 34px;
    position: absolute;
    transition: all .5s;
}

.navbar-toggle ion-icon.close {
    display: none;
}

.navbar-toggle.active ion-icon.open {
    display: none;
}

.navbar-toggle.active ion-icon.close {
    display: block;
}